<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/about.css">

    <title>M's Restaurant</title>
  </head>
  <body>
    <header>
      <h1>M's Restaurant</h1>
      
    </header>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </nav>

    <main>
        <div class="container">
            <h1>ABOUT US</h1>

            <p> Welcome to M's Restaurant, your go-to destination for delicious food and warm hospitality in Ibadan. 
                Our restaurant was founded in 2022 by our chief chef, 
                Dave, who has a passion for creating amazing food experiences for his guests.

                <p>At M's Restaurant, we believe that great food starts with great ingredients. 
                That's why we source only the freshest and highest-quality ingredients from local farmers and producers. 
                Our menu features a variety of dishes inspired by the rich and diverse flavors of Nigeria and beyond, 
                all made from scratch and cooked to perfection.</p>
                
                <p>Whether you're in the mood for a hearty breakfast, a quick lunch, or a romantic dinner for two, we've got you covered.
                 Our menu includes everything from classic Nigerian dishes 
                 like jollof rice and suya to international favorites like pasta and steak.</p>
                
                <p>At M's Restaurant, we're more than just a place to eat.
                 We're a community hub where friends and family can come together to enjoy great food, good company, and a welcoming atmosphere. 
                 Our friendly staff and cozy atmosphere will make you feel right at home from the moment you walk in the door.</p>
                
                <p>Thank you for choosing M's Restaurant for your dining needs.</p>
                <p>We look forward to serving you soon!</p>


            </div>

            <div class="contain">
            <a href="/order">
            <button class="btn" >Order now</a></button>
            </a>

        </div>

    </main>
    <footer>
      <p>&copy; 2023 M's Restaurant</p>
    </footer>
  </body>
</html>
