<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/contact.css">

    <title>M's Restaurant</title>
  </head>
  <body>
    <header>
      <h1>M's Restaurant</h1>
      
    </header>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </nav>

    <main>
        <div class="container">
            <h1>CONTACT US</h1>
            <p>If you have any questions, comments, or concerns, we'd love to hear from you!<br>
                Here's how you can get in touch with us:</p>

                <p>Phone: +2349014078564</p>
                
                <p>IG handle: @M Restaurant12</p>
                
                <p>Address: 07,Ile Ayede Suites, Ibadan, Nigeria</p>
                
                <p>You can also send the a message to our business mail below. 
                We'll do our best to respond to your inquiry as soon as possible.</p>
                
                <p>mrestaurant@gmail.com</p>
                
                <p>Thank you for your interest in M's Restaurant. <br>
                We value your feedback and look forward to hearing from you soon! </p>
            

            
        </div>
    </main>
    <footer>
      <p>&copy; 2023 M's Restaurant</p>
    </footer>
  </body>
</html>
