<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css">

    <title>M's Restaurant</title>
  </head>
  <body>
    <header>
      <h1>M's Restaurant</h1>
      
    </header>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </nav>

    <main>
        <div class="container">
            <h1>WELCOME TO M'S RESTAURANT</h1>
            <h3>Make your day remarkable by enjoying a nutritious meal</h3>
            <h3>All you've got to do is PLACE your ORDER</h3>

        </div>
        <div class="contain">
            <a href="/order">
            <button class="btn" >Order now</a></button>
        </a>

        </div>

    </main>
    <footer>
      <p>&copy; 2023 M's Restaurant</p>
    </footer>
  </body>
</html>
