<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/order.css">

    <title>M's Restaurant</title>
  </head>
  <body>
    <header>
      <h1>M's Restuarant</h1>
      <h3>Place your order and have an unforgetable experience with our dishes</h3>
      
    </header>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </nav>
    
    <main>

      <h1>PLACE YOUR ORDER</h1>
<div class="container" style="margin-top: 60px;">
  <h1 class="text-center"> Select an option:</h1>
    
    <h2>1. Place an order
    <br>
    97. See current order
    <br>
    98. See order history
    <br>
    99. Checkout order
    <br>
    0. Cancel order</h2>

  
  </div>


    
    
     <div id="chatContainer" class="chat-box" style="position: fit-content; border: 1px solid black"> 
      
      
    </div>
    
    <div class="input-group" style="display: flex;">
      
      <input id="textbox" type="text" class="form-control" style="width: 1250px; border: 1px solid blue; height: 50px;"/>
      
      <div class="input-group-append">
        <button id="sendBtn" type="button" class="btn btn-primary" style="height: 51px; border-radius: 2px; background: red; font-size: 1rem;">Send</button>
        
      </div>
      
    </div>
  
  
</div>
  
  
    </main>
    <footer>
      <p>&copy; 2023 M's Restaurant</p>
    </footer>
  
      <script type="text/javascript" src="/js/script.js"></script>

      </body>
</html>
